$speed--segment: 4s;
$speed--zoom: $speed--segment / 2;

@mixin transformOrigin($i, $horizontal, $vertical: null) {

    @if ($i > ($total / 2)) {

        $vertical: top;

    } @else {

        $vertical: bottom;

    }

    transform-origin: $horizontal $vertical;

}

.pattern {

    &

    &--thumbnail {
        $size: $total * 60px;
        height: $size;
        width: $size;

        .pattern__segment {
            $size: (100% / $total);
            padding-top: $size;
            width: $size;
        }
    }








}
