@each $axis in $allLayouts {

    $pulse__scale--active--current: $pulse__scale--active--min + ($pulse__scale--increment * $axis);

    @keyframes pulseAxis#{$axis} {

    	0% {
    		opacity: $pulse__opacity--dormant;
    		transform: scale($pulse__scale--dormant);
    	}

    	30% {
    		opacity: $pulse__opacity--active;
    		transform: scale($pulse__scale--active--current);
    	}

        60% {
    		opacity: $pulse__opacity--dormant;
    		transform: scale($pulse__scale--dormant);
    	}

        100% {
            opacity: $pulse__opacity--dormant;
            transform: scale($pulse__scale--dormant);
        }
    }
}
