$max: 20;

$xLayouts: 8, 20;
$yLayouts: 8, 10;

$pulse__speed: 2s;
$pulse__delay: 0.5;
$pulse__opacity--dormant: 1;
$pulse__opacity--active: 0.6;
$pulse__scale--dormant: 1;
$pulse__scale--active--min: 1.025;
$pulse__scale--increment: 0.00225;

$zoom__speed: $pulse__speed / 2;
$zoom__scale--dormant: 1;
$zoom__scale--active: 1.025;

$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

@mixin fillContainer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

$allLayouts: $xLayouts;

@each $totalY in $yLayouts {

    $new: true;

    @each $totalX in $xLayouts {

        @if $totalY == $totalX { $new: false; }

    }

    @if $new == true {

        $allLayouts: append($allLayouts, $totalY);
    }

}
