$max: 20;
$delay: 0.5;

$xLayouts: 8, 20;
$yLayouts: 8, 10;

$speed--segment: 2s;
$speed--zoom: $speed--segment / 2;

$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

@mixin fillContainer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
